{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "number-leading-zero": "never",
    "declaration-empty-line-before": "never"
  }
}
