.master-layout {
  height: 100vh;
}

.m-login-2--skin-2 {
  background-image: url(#{$assets-img-path}background-guest.jpg);
}

.m-error-1 {
  background-image: url(#{$assets-img-path}background-error.jpg);
}
