.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header {
  background-color: #7e55dd;
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
  color: #d9dae3;
}

.m-topbar__notifications.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
  margin-left: -350px;
}

.form-control-feedback.block {
  display: block;
}
